In [5]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("BLA_Cells_Ranksum_Pre_Activity.db")
c = conn.cursor()

In [7]:
#sql table to pandas df

sql_query = pd.read_sql_query("SELECT * FROM RDT_D1", conn)
rdt_d1 = pd.DataFrame(sql_query)
print(rdt_d1.head())

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [ ]:
c.execute("SELECT * FROM RDT_D1 WHERE RDT_D1.")