In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame({'A': 'a a b b'.split(),
                   'B': [1,2,3,1],
                   'C': [4,6,5,4]})
g = df.groupby('A')

ValueError: arrays must all be same length

In [11]:
g.head()

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5

In [ ]:
def ratio():

In [15]:
g[['B']].apply(lambda x: x / x.sum())

          B
0  0.333333
1  0.666667
2  1.000000