In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame({'A': 'a a b b'.split(),
                   'B': [1,2,3,1],
                   'C': [4,6,5,4]})
g = df.groupby('A')

In [18]:
g.head()

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5
3  b  1  4

In [ ]:
def ratio():

In [22]:
g[['B', 'C']].apply(lambda x: x /x.sum())

          B         C
0  0.333333  0.400000
1  0.666667  0.600000
2  0.750000  0.555556
3  0.250000  0.444444